:root {
    --topbar-color: #ffffff;
    --sidebar-bg-color: #151515;
    --sidebar-color: #ffffff;
    --sidebar-link-color: #ed2945;
}

section[data-css="sidebar"] {
    background-color: black !important;
    color: var(--sidebar-color);
    border: none;
}

section[data-css="sidebar"] svg {
    fill: var(--sidebar-color) !important;
}

a[data-css="sidebar-logo"] img {
    width: 120px !important;
}

section[data-css="sidebar-resources"] {
    background: var(--sidebar-bg-color) !important;
}

[data-css="sidebar"] section a {
    background: var(--sidebar-bg-color) !important;
    color: var(--sidebar-color);
}

[data-css="sidebar"] a:hover {
    color: var(--sidebar-link-color);
}